.button-wrapper{
    display:flex; 
    justify-content: center;
    align-items: center;
    height:40px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif ; 
    font-size: 1.2em;
    background-color:#454545 ;
    color:white;
    flex:1;
    outline: 1px solid #888 ;
   
  

}

.operator{ 
    background-color: orange; 
    color:white;
   
    
}